{% extends "base.html" %}

{% block content %}

    <br><br><br><br>
    <h1 class="text-capitalize text-center mx-10 bg-dark text-white">Register a new invoice</h1>

    <form method="post">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="customer">Customer</label>
                <select name="customer" class="form-control" id="customer">
                    <option value="" disabled selected>Choose the customer...</option>
                    {% for customer in customers %}
                        <option value="{{customer.id}}">{{forloop.counter}}-{{customer.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="invoice">Invoice Type</label>
                <select name="invoice_type" class="form-control" id="invoice">
                    <option value="" disabled selected>Choose the invoice type...</option>
                    <option value="R">RECEIPT</option>
                    <option value="P">PROFORMA INVOICE</option>
                    <option value="I">INVOICE</option>
                </select>
            </div>
        </div>

        <div id="wrapper">

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="article-1">#1 Item name</label>
                    <select name="article" class="form-control" id="article-1" onchange="handleChangePrice(this)">
                        <option disabled selected>Choose the article...</option>
                        {% for article in articles %}
                            <option value="{{article.name}}" data-price="{{article.unit_price}}">{{forloop.counter}}-{{article.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="qty-1">Quantity</label>
                    <input required name="qty" type="number" min="1" step="0.1" class="form-control" id="qty-1" onchange="handleChangeSingleArticle(this)">
                </div>

                <div class="form-group col-md-3">
                    <label for="unit-1">Unit Price</label>
                    <input required name="unit" type="number" min="1" step="0.1" class="form-control" id="unit-1" readonly>
                </div>

                <div class="form-group col-md-3">
                    <label for="total-a-1">Total</label>
                    <input required name="total-a" type="number" min="1" step="0.1" readonly class="form-control" id="total-a-1">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="total">Total</label>
                <input value="0" type="number" min="1" step="0.1" name="total" readonly class="form-control" id="total">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="comment">Comments</label>
                <textarea class="form-control" name="comment" id="comment" cols="30" rows="1"></textarea>
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'home' %}" title="Home" class="btn btn-outline-danger text-white bg-danger w-50 col-md-1 float-right">Return</a>

    </form>

    <br><br>

    <div class="row">
        <button id="btn-add" class="btn btn-outline-danger w-50 col-md-6">Add a new item line</button>
        <button id="btn-remove" class="btn btn-outline-warning w-50 col-md-6">Remove the last item line</button>
    </div>


    <br><br><br>

    <script type="text/javascript">

        // Click to add new line item
        $(document).on('click', '#btn-add', function(){
            var number = $('#wrapper').children().length + 1;
            let formAdd = `
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="article-${number}">#${number} Item name</label>
                        <select name="article" class="form-control" id="article-${number}" onchange="handleChangePrice(this)">
                            <option disabled selected>Choose the article...</option>
                            {% for article in articles %}
                                <option value="{{article.name}}" data-price="{{article.unit_price}}">{{forloop.counter}}-{{article.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="qty-${number}">Quantity</label>
                        <input required name="qty" type="number" min="1" step="0.1" class="form-control" id="qty-${number}" onchange="handleChangeSingleArticle(this)">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="unit-${number}">Unit Price</label>
                        <input required name="unit" type="number" min="1" step="0.1" class="form-control" id="unit-${number}" readonly>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="total-a-${number}">Total</label>
                        <input required name="total-a" type="number" min="1" step="0.1" readonly class="form-control" id="total-a-${number}">
                    </div>
                </div>`;

            $("#wrapper").append(formAdd);
        });

        // Remove last item line
        $(document).on('click', '#btn-remove', function(){
            var lastRow = $("#wrapper").children().last();
            var lastTotal = parseFloat(lastRow.find('input[id^="total-a"]').val()) || 0;

            // Subtract the last total from the grand total
            var currentTotal = parseFloat($('#total').val()) || 0;
            $('#total').val(currentTotal - lastTotal);

            // Remove the last item line
            lastRow.remove();
        });

        // Function to update the unit price when the article is selected
        function handleChangePrice(element) {
            var number = element.id.split('-')[1];  // Extract line number from the id
            let unitId = `#unit-${number}`;  // ID for unit price field

            // Get the data-price attribute from the selected article option
            const selectedOption = element.options[element.selectedIndex];
            const price = parseFloat(selectedOption.getAttribute('data-price'));

            // Update the unit price field with the price
            if (price) {
                document.querySelector(unitId).value = price;
            } else {
                document.querySelector(unitId).value = '';  // Reset if no price is available
            }
        }

        // Function to calculate total for each item and update grand total
        function handleChangeSingleArticle(element){
            let articleId = element.id.split('-')[1];
            let idQty = `#qty-${articleId}`;
            let unitId = `#unit-${articleId}`;
            let totalIdLine = `#total-a-${articleId}`;
            let unit = parseFloat($(unitId).val()) || 0;

            if (unit != 0) {
                // Calculate the new total for the current line
                let totalLine = parseFloat($(idQty).val()) * parseFloat($(unitId).val());

                // Get the previous total of the line
                let previousTotal = parseFloat($(totalIdLine).val()) || 0;

                // Update the total for the current line
                $(totalIdLine).val(totalLine);

                // Update the grand total
                let grandTotal = parseFloat($('#total').val()) || 0;
                grandTotal = grandTotal - previousTotal + totalLine;
                $('#total').val(grandTotal);
            }
        }

    </script>

{% endblock content %}
